/* Color Theme Swatches in Hex */
/*.destaque { color: #660273; }
.background { color: #6241D9; }
.principal { color: #44F2E1; }
.Design-de-jogos-2-hex { color: #F2B3E1; }
.Design-de-jogos-4-hex { color: #1E1940; }
*/

html{
    background:#660273;
    color:#44F2E1;

    font-size: 18px;
    font-family: helvetica, sans-serif;
}

p {
    text-indent: 1em;
}

h1,h2, h3 {
    text-align: center;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary{text-align: right;}
.main p{line-height: 1.5;}
abbr{font-variant: small-caps;}